<li class="nav-header">
    <div class="dropdown profile-element" style="width: 100%">
        <span>
            <a href="?">
                {% if mod.reseller !='' %}
                    {% if mod.logoreseller !='' %}
                        <img alt="" id="logomenu" src="{{url}}/img/logo.png" width="200" style="margin-right: 15px"/></a>
                    {% else %}
                        {% if mod.imglogo !='0' %}
                            <img alt="" id="logomenu"  src="{{url}}/img/logo.png" width="200" style="margin-right: 15px"/></a>
                        {% else %}
                            <img alt="" id="logomenu"  src="{{url}}/img/logo.png" width="200" style="margin-right: 15px"/></a>
                        {% endif%}
                    {% endif%}
                {% else %}
                    {% if mod.imglogo =='0' %}
                            <img alt="" id="logomenu"  src="{{url}}/img/logo.png" width="200" style="margin-right: 15px"/></a>
                    {% else %}
                            <img alt="" id="logomenu"  src="{{url}}/img/logo.png" width="200" style="margin-right: 15px"/></a>
                    {% endif%}
                {% endif%}
            </span>
    </div>
    <div class="logo-element">
        KIS
    </div>
</li>
<li class="active">
    <a href="?"><i class="fa fa-th-large"></i> <span class="nav-label">{{langene.TITLE}}</span></a>
</li>
{% if (("crontab" in rmenu )or("process_list" in rmenu )or("phpini_editor" in rmenu )or("phpselector" in rmenu )or("notification_center" in rmenu )or(menu.cloudlinux ==1 )or(menu.cloudlinux ==1 ))or(swmenu==1) %}

<li class="searchmenu">
    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Server Settings</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("crontab" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=crontab">Cron Jobs</a></li>
        {% endif %}
        {% if ("process_list" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="#"data-toggle="modal" data-target="#modalprocesslist"  class="mod_process_list">{{langene.PROCESSLIST}}</a></li>
        {% endif %}
       
        {% if ("notification_center" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=notification_center">{{langene.BTNOTITITLE}}</a></li>
        {% endif %}
        {% if ("mod_security" in rmenu )or(swmenu==1) %}
          <li class="search"><a href="?module=mod_security">Mod Security</a></li>
        {% endif %}
        {% if ("statistics" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=statistics">{{langene.GNLABEL51}}</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}

<li class="searchmenu">
    <a href="#"><i class="fab fa-php"></i> <span class="nav-label">PHP Settings</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("phpselector" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=phpselector">PHP Version</a></li>
        {% endif %}
        {% if menu.cloudlinux ==1 %}
            <li class="search"><a href="?module=php_selector">PHP Version</a></li>
        {% endif %}
        {% if ("phpini_editor" in rmenu )or(swmenu==1) %}
            <li class="search" id="phpiniid"><a href="?module=phpini_editor">{{langene.PHPINI}}</a></li>
        {% endif %}
    </ul>
</li>

<li class="searchmenu">
    <a href="#"><i class="fab fa-js-square"></i> <span class="nav-label">NodeJS Manager</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("nodejs" in extra_rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=nodejs_manager">Manage App</a></li>
        {% endif %}
    </ul>
</li>



{% if (("files_system_lock" in rmenu )or("clam" in rmenu )or("file_manager" in rmenu )or("ftp_accounts" in rmenu )or("backups" in rmenu )or ("protected_directory" in rmenu )) or ("fix_acc_perm" in rmenu ) or(swmenu==1) %}
<li class="searchmenu">
    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">{{langene.FILEM}}</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("files_system_lock" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="#" class="files_system_lock">{{langene.FILESYST}}</a></li>
        <!--<li class="search"><a href="?module=files_system_lock">{{langene.FILESYST}}</a></li>-->
        {% endif %}
        {% if ("clam" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=clam" >{{langene.ANTIVI}}</a></li>
        {% endif %}
        {% if ("file_manager" in rmenu )or("filemanager" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="fileManager_v2.php" target="_blank">{{langene.FTPFILE}}</a></li>
        {% endif %}
        {% if ("ftp_accounts" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=ftp_accounts">{{langene.FTPACC}}</a></li>
        {% endif %}
        {% if ("backups" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=backups">{{langene.BACKUP}}</a></li>
        {% endif %}
        {% if ("disk_usage" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=disk_usage">{{langene.MENUDISKUSAGE}}</a></li>
        {% endif %}

        {% if (mod.apache==1)%}
            {% if ("protected_directory" in rmenu )or(swmenu==1) %}
                <li class="search"><a href="?module=protected_directory">{{langene.DIRPROTE}}</a></li>
            {% endif %}
        {% endif %}
        {% if ("error_log" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=error_log">{{langene.GNLABEL52}}</a></li>
        {% endif %}
        {% if ("fix_acc_perm" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=fix_acc_perm">Fix Server Errors</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}


<li class="searchmenu">
    <a href="#"><i class="fa fa-shield"></i> <span class="nav-label">SSL Manager</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
         {% if ("letsencrypt" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=letsencrypt">{{langene.AUTOSSL}}</a></li>
        {% endif %}
        {% if ("sslwizard" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=sslwizard">{{langene.GEN002}}</a></li>
        {% endif %}
    </ul>
</li>

{% if ("nodejs" in extra_rmenu ) or("sslwizard" in rmenu )or("domains" in rmenu )or("subdomains" in rmenu )or("letsencrypt" in rmenu )or("vdomaincache" in rmenu )or("redirect" in rmenu )or(swmenu==1) %}
<li class="searchmenu">
    <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">{{langene.DOMAINS}}</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li class="search"><a href="?module=domains">Addon {{langene.DOMAINS}}</a></li>
        {% if ("subdomains" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=subdomains">{{langene.SUBDOMAIN}}</a></li>
        {% endif %}
        {% if mod.varnish==1 %}
            {% if ("vdomaincache" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=vdomaincache">{{langene.CACHE1}}</a></li>
            {% endif %}
        {% endif %}
        {% if mod.apache==1 and  mod.nginx==0  %}
            {% if ("redirect" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=redirect">{{langene.GNLABEL53}}</a></li>
            {% endif %}
        {% endif %}
        {% if ("tomcat_manager" in extra_rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=tomcat_manager">Tomcat Manager</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}

{% if ("mysql_manager" in rmenu ) or ("postgresql_manager" in rmenu ) or ("postgresql_manager" in extra_rmenu ) or ("mongodb_manager" in extra_rmenu ) or ("posgresql_manager" in rmenu )or ("process_list_my" in rmenu ) or(swmenu==1) %}
<li class="searchmenu">
    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">{{langene.SQLSERV}}</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <!--li class="search"><a  href="{{mod.pma}}" target="_blank">{{langene.PHPMYADMIN}}</a></li-->
        {% if ("pma" in rmenu )or(swmenu==1) %}
            <li class="search"><a  href="?module=pma" target="_blank">{{langene.PHPMYADMIN}}</a></li>
        {% endif %}
        {% if ("mysql_manager" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=mysql_manager">{{langene.MANAGERMYSQL}}</a></li>
        {% endif %}
        {% if ("process_list_my" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="#" id="mysql_processes" class="mysql_processes">{{langene.SHOWMYSQL}}</a></li>
        {% endif %}
        {% if ("postgresql_manager" in extra_rmenu ) or ("postgresql_manager" in rmenu )or(swmenu==1) %}
            <li><a href="?module=postgresql_manager">{{langene.MANAGERPOSGRE}}</a></li>
        {% endif %}
        {% if ("mongodb_manager" in extra_rmenu ) or ("mongodb_manager" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=mongodb_manager">Mongo Database</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}


{% if ("email_accounts" in rmenu )or("mail_autoreply" in rmenu ) or("forwarders_email" in rmenu ) or("roundcube" in rmenu ) or (swmenu==1) %}
<li class="searchmenu">
    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">{{langene.MAILACCOUNT}}</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("email_accounts" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=email_accounts">{{langene.MAILACCOUNT}}</a></li>
        {% endif %}
        {% if ("forwarders_email" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=forwarders_email">{{langene.MENUEMFOR}}</a></li>
        {% endif %}
        {% if ("mail_autoreply" in rmenu ) or (swmenu==1) %}
        <li class="search"><a href="?module=mail_autoreply">{{langene.AUTORESPONDER}}</a></li>
        {% endif %}
        {% if ("email_filters" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=email_filters">{{langene.MENUEMFILTERS}}</a></li>
        {% endif %}
        {% if ("roundcube" in rmenu ) or (swmenu==1) %}
        <li class="search"><a href="{{mod.roundcube}}" target="_blank">{{langene.ROUNDCUBE}}</a></li>
        {% endif %}
        {% if ("mail_routing" in rmenu ) or (swmenu==1) %}
        <li class="search"><a href="?module=mail_routing">{{langene.DASWER}}</a></li>
        {% endif %}
        {% if (mod.spamexperts ==1) or(swmenu==1) %}
        <li class="search"><a href="?module=spamexperts">{{langene.GNLABEL45}}</a></li>
        {% endif %}
        {% if ("email_importer" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=email_importer">{{langene.GEN001}}</a></li>
        {% endif %}

    </ul>
</li>
{% endif %}
{% if ("dns_zone_editor" in rmenu )or(swmenu==1) %}
<li class="searchmenu">
    <a href="#"><i class="fas fa-globe"></i> <span class="nav-label">{{langene.DNS}} </span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li class="search"><a href="?module=dns_zone_editor">{{langene.DNSZONEEDITOR}}</a></li>
    </ul>
</li>
{% endif %}

{% if ("scripts" in rmenu )or("addons_wp" in rmenu )or("addons_ps" in rmenu )or("addons_jl" in rmenu )or("addons_dp" in rmenu )or("siteprobuilder" in rmenu )or(swmenu==1) %}
<li class="searchmenu">
    <a href="#"><i class="fa fa-code" aria-hidden="true"></i> <span class="nav-label">Software</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("scripts" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=addons">Available</a></li>
        <li class="search"><a href="?module=addons&acc=installed">Installed</a></li>
        {% endif %}
        {% if ("softaculous" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=softaculous">{{langene.SOFTAC}} Manager</a></li>
        {% endif %}
         {% if ("siteprobuilder" in rmenu )or(swmenu==1) %}
        <li class="search"><a href="?module=siteprobuilder">Site.pro Website Builder</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}

<!-- {% if (("softaculous" in rmenu ) or ("sitepad" in rmenu )) or ((softmenu==1) or (fant3menu==1) or (sitepad==1))%}
<li class="searchmenu">
    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">{{langene.SCRIPTINST}}</span></a>
    <ul class="nav nav-second-level collapse">
        {% if ("softaculous" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=softaculous">{{langene.SOFTAC}}</a></li>
        {% endif %}


        {% if ("sitepad" in rmenu )or(swmenu==1)or (sitepad==1) %}
            <li class="search"><a href="?module=sitepad">{{langene.GNLABEL46}}</a></li>
        {% endif %}

        {% if(fant3menu==1) %}
            <li class="search"><a href="?module=fantastico_f3&path=?/">{{langene.FANTASTICO}}</a></li>
        {% endif %}
    </ul>
</li>
{% endif %} -->
{% if mod.reseller ==1%}
<li class="searchmenu">
    <a href="#"><i class="fa fa-recycle"></i> <span class="nav-label">{{langene.GNLABEL37}}</span></a>
    <ul class="nav nav-second-level collapse">
        <li class="search">
            <a href="?module=reseller"><span class="nav-label">{{langene.GNLABEL43}}</span></a>
        </li>
    </ul>
</li>
{% endif %}
{% if ("servercast" in rmenu )or(swmenu==1) and (streaming==1) %}
<li class="searchmenu">
    <a href="#"><i class="fa fa-microphone"></i> <span class="nav-label">{{langene.STREAMING}}</span></a>
    <ul class="nav nav-second-level collapse">
        <li class="search">
            <a href="?module=servercast"><span class="nav-label">{{langene.GNLABEL43}}</span></a>
        </li>
    </ul>
</li>
{% endif %}
<li  class="active2 menugrande">
    <a href="#" ><i class="fa fa-tasks"></i> <span class="nav-label">{{langene.USERDD}}</span></a>
</li>
<li class="menugrande">
    <div class="ibox">
        {% set porhome=(100/mod.packquota)*mod.sizehome %}
        {% if porhome <50 %}
            {% set barhome='progress-bar-success' %}
        {% elseif porhome <=75 %}
            {% set barhome='progress-bar-warning' %}
        {% else %}
            {% set barhome='progress-bar-danger' %}
        {% endif %}
        {% set pormysql=(100/mod.packquota)*mod.sizemysql %}

        {% set porbandwidth=(100/mod.pack_bandwidth)*mod.bandwidth %}
        {% if porbandwidth =='INF' %}
            {% set porbandwidth=0 %}
        {% endif %}
        {% if porbandwidth <50 %}
        {% set barbandwidth='progress-bar-success' %}
        {% elseif porbandwidth <=75 %}
        {% set barbandwidth='progress-bar-warning' %}
        {% else %}
        {% set barbandwidth='progress-bar-danger' %}
        {% endif %}
        {% if mod.pack_bandwidth =='-1'%}
            {% set porbandwidth=0 %}
            {% set barbandwidth='progress-bar-success' %}
        {% endif %}
        {% set pormail=(100/mod.packquota)*mod.sizemail %}
        {% set totalhost=mod.packquotaused %}
        {% set backup=(100/mod.packquota)*mod.backup_quota %}
        {% set portotal=(100/mod.packquota)*totalhost %}
        {% if portotal <50 %}
            {% set bartotal='progress-bar-success' %}
        {% elseif portotal <=75 %}
            {% set bartotal='progress-bar-warning' %}
        {% else %}
            {% set bartotal='progress-bar-danger' %}
        {% endif %}
        <div class="ibox-content2">
            <h5 style="color: white">{{langene.GNLABEL47}}</h5>
            {% if mod.packquota == '-1'%}
                <h3 class="info-left-item">0%</h3>
            {% else %}
                <h3 class="info-left-item">{{porhome|round}}%</h3>
            {% endif %}
            <div class="progress progress-mini">
                <div style="width: {{porhome|round}}%;" class="progress-bar"></div>
            </div>
            <div class="stat text-center"><h4></h4>
                {% if mod.packquota == '-1'%}
                    <small class="info-left-item">{{mod.sizehome|number_format(2, '.', ',')}} MB / &infin; MB</small></div>
                {% else %}
            <small class="info-left-item">{{mod.sizehome|number_format(2, '.', ',')}} MB / {{mod.packquota|round}} MB</small></div>
                {% endif %}
            <h5 style="color: white">{{langene.GNLABEL48}}</h5>
            {% if mod.pack_bandwidth == '-1'%}
                <h3 class="info-left-item">0%</h3>
            {% else %}
                <h3 class="info-left-item">{{porbandwidth|round}}%</h3>
            {% endif %}
            <div class="progress progress-mini">
                <div style="width: {{porbandwidth|round}}%;" class="progress-bar {{barbandwidth}}"></div>
            </div>
            <div class="stat text-center"><h4>
                {% if mod.pack_bandwidth == '-1'%}
                    </h4><small class="info-left-item">{{mod.bandwidth|number_format(0, '.', ',')}} MB / &infin;  MB</small></div>
                {% else %}
                    </h4><small class="info-left-item">{{mod.bandwidth|number_format(0, '.', ',')}} MB / {{mod.pack_bandwidth|number_format(0, '.', ',')}} MB</small></div>
                {% endif %}
            <div class="menu-left-storage">
                <a href="#" id="storage">
                    <div class="menu-left-storage-btn">
                        <h5 style="color: white;">{{langene.GNLABEL49}}</h5>
                        <i id="sw" class="fa fa-caret-left"></i>
                    </div>
                </a>
            </div>
            <div id="divstorage" data-loaded="0" style="display: none">
                <div id="divstorage_info">
                    <div class="content clearfix">
                        <div><i class="fa fa-folder-open"></i> <span class="divstorage-item-title">{{langene.GENLABLANG1}}</span>
                        </div>
                        <div class="progress  progress-mini">
                            <div class="progress-bar progress-bar-success" id="bp-home" style="width: 0%" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="percent pull-right" id="pullhome"></span>
                        <div class="stat text-center">
                            <small id="stat-home"></small>
                        </div>
                    </div>
                    <div class="content clearfix" style="margin-top: 5px">
                        <div><i class="fa fa-envelope-open"></i> <span class="divstorage-item-title">{{langene.MAILACCOUNT}}</span>
                        </div>
                        <div class="progress  progress-mini">
                            <div class="progress-bar progress-bar-success" id="bp-email" style="width: 0%" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="percent pull-right" id="pullemail"></span>
                        <div class="stat text-center">
                            <small id="stat-email"></small>
                        </div>
                    </div>
                    <div class="content clearfix" style="margin-top: 5px">
                        <div><i class="fa fa-database"></i> <span class="divstorage-item-title">{{langene.SHMYSQL}}</span></div>
                        <div class="progress  progress-mini">
                            <div class="progress-bar progress-bar-success" id="bp-mysql" style="width: 0%" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="percent pull-right" id="pullmysql"></span>
                        <div class="stat text-center">
                            <small id="stat-mysql"></small>
                        </div>
                    </div>
                    <div class="content clearfix" style="margin-top: 5px">
                        <div><i class="fa fa-upload"></i> <span class="divstorage-item-title">{{langene.BACKUP}}</span></div>
                        <div class="progress  progress-mini">
                            <div class="progress-bar progress-bar-success" id="bp-backup" style="width: 0%" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="percent pull-right" id="pullbackup"></span>
                        <div class="stat text-center">
                            <small id="stat-backup"></small>
                        </div>
                    </div>
                </div>
                <div id="divstorage_loader">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</li>
<!-- <li  class="active2 menugrande">
    <a href="#" ><i class="fa fa-tint"></i> <span class="nav-label">{{langene.APPLI}}</span></a>
</li>
<li class="menugrande">
    <div class="ibox">
        <div class="ibox-content2">
            <div>
              <div class="nav-label"><h5 style="color: white">Apache:</h5></div>
              <div style="margin-left: 5px" class="info-left-item">{{mod.infoserver.apache}}</div>
              <div class="nav-label"><h5 style="color: white">Default PHP:</h5></div>
              <div style="margin-left: 5px" class="info-left-item">{{mod.infoserver.php}}</div>
              <div class="nav-label"><h5 style="color: white">MySQL:</h5></div>
              <div style="margin-left: 5px" class="info-left-item">{{mod.infoserver.mysql}}</div>
            </div>
        </div>
    </div>
</li> -->
